[run]
source =
    workshop/links/
    workshop/workshop/
omit =
    workshop/links/migrations/*
    workshop/links/test_*
    workshop/links/tests/*
    workshop/workshop/migrations/*
    workshop/workshop/test_*
    workshop/workshop/tests/*

